/* MAIN RESET */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #090811;
}

/* BODY BACKGROUND */

.body--bg {
  z-index: 1;
  background: linear-gradient(
    -45deg,
    #040e1f,
    #090811,
    #041103,
    #03180d,
    #030f02,
    #090811,
    #040e1f
  );
  background-size: 300%, 300%;
  width: 100%;
  height: 100vh;
  animation: animate 20s ease infinite;
  background-attachment: fixed;
}

/* BACKGROUND ANIMATION*/
/* Animación del fondo degradado: Hace que el degradado se desplace por el fondo */

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* TEXT */
/* Conjunto de estilos para textos */
.title {
  @include fontWeightAndSize(700, 50px);
}

.subtitle {
  @include fontWeightAndSize(400, 40px);
}

.subsubtitle {
  @include fontWeightAndSize(400, 20px);
}

.description {
  @include fontWeightAndSize(300, 20px);
  text-justify: inter-word;
}

.note {
  @include fontWeightAndSize(300, 18px);
  text-justify: inter-word;
}

/* HIGHLIGHT: Es una clase especial para dar importancia a algunas palabras en textos */

.highlight {
  white-space: nowrap;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 0px 20px;
  background-image: linear-gradient(
    90deg,
    #115751 0%,
    #2f8a82 10%,
    #2b8366 35%,
    #8aeec0 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: highlight-animation-rev 0.5s ease forwards;
}

/* Esta clase posee un efecto cuando el mouse se pone por encima y cuando se quita */

.highlight:hover {
  animation: highlight-animation 0.5s ease-in forwards;
}

@keyframes highlight-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes highlight-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY TABLET ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 768px) {
  .subtitle {
    text-align: center;
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY MOBILE ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 576px) {
  .title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 34px;
  }

  .subsubtitle {
    font-size: 16px;
  }

  .description {
    font-size: 16px;
  }

  .note {
    font-size: 12px;
  }
}
