@mixin fontWeightAndSize($font-weight, $font-size) {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
}

@mixin generalButton($padding, $margin, $border, $borderradius, $background){
  padding: $padding;
  margin: $margin;
  border: $border;
  border-radius: $borderradius;
  background: $background;
}

@mixin fontAndTransitionButton{
  transition: all 0.3 ease 0s;
  @include fontWeightAndSize(400,16px);
  text-decoration: none;
}

@mixin hoverButton{
  background: #ccf7c1;
  color: #0a0913;
}