.tiles__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px;
  &--three-columns {
    display: grid;
    grid-template-areas: "one two" "three three";
    gap: 50px 50px;
  }
}

.tile-card {
  &--one {
    grid-area: one;
  }
  &--two {
    grid-area: two;
  }
  &--three {
    grid-area: three;
  }
}

.card {
  background-color: rgba(209, 209, 209, 0.1);
  padding: 1em 3em;
  border-radius: 1em;
}

.pricing-cards {
  display: grid;
  grid-template-areas:
    "one two"
    "three three";
  gap: 2em 2em;

  &__item {
    background-color: rgba(209, 209, 209, 0.1);
    padding: 1em 3em;
    border-radius: 1em;
    &--one {
      grid-area: one;
    }
    &--two {
      grid-area: two;
    }
    &--three {
      grid-area: three;
    }
    &--cost {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      border-bottom: 1px solid white;
    }
  }
}

.item-cost {
  &__child {
    align-self: center;
    margin: 0 10px 50px 0px;
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY TABLET ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 768px) {
  .pricing-cards {
    display: grid;
    grid-template-areas:
      "one"
      "two"
      "three";
    gap: 2em 2em;
  }
  .tiles__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 30px;
    &--three-columns {
      display: grid;
      grid-template-areas: "one" "two" "three";
      gap: 50px 50px;
    }
  }
}
