
/*---------------------- FAQs -----------------------------*/
.faq-container {
  .faq__item {
    background-color: rgba(73, 78, 76, 0.5);
    border-radius: 20px;
    padding: 0px 50px;
    margin: 20px 0px;
  }

  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #edf0f1;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  button:hover,
  button:focus {
    cursor: pointer;
    color: #52a77f;
  }
}

.faq-link{
  color: white;
}

.accordion-item,
.accordion-item .accordion-button,
.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed{
  color: #edf0f1;
  border: none;
  border-radius: 20px;
  background-color: rgba(73, 78, 76, 0.5);
  box-shadow: none;
}

.accordion-item:not(.collapsed),
.accordion-button:not(.collapsed){
  background-color: rgba(73, 78, 76, 0.5);
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}