/*---------------------- HERO -----------------------------*/

.hero_slider,
.hero_slider--inverted {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
}

.slider_child--image {
  display: flex;
  justify-content: center;
}

.hero__placeholder {
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY TABLET ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 768px) {
  .hero_slider {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    &--inverted {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .slider_child {
    display: flex;
    flex-flow: column;
    align-items: center;
    .title {
      text-align: center;
    }
    .description {
      text-align: center;
    }
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY MOBILE ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 576px) {
  .hero_slider {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    flex-wrap: wrap;
    &--inverted {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
