/*---------------------- NAVIGATION BAR -----------------------------*/

/* Se genera el layout general del Navbar */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  padding: 30px 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar__logo {
  justify-self: left;
}

/* Contenedor de los elementos del navbar: Fitness Center, Personal Trainer, Nutrition Coach */
.navbar__links--list {
  padding: 0;
  justify-self: center;
  text-align: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Separación de elementos del navbar */
.navbar__links--list li {
  margin: 10px;
  list-style-type: none;
}

.navbar__button {
  justify-self: right;
  display: block;
  min-width: 280px;
}

.navbar__button--hamburger {
  justify-self: right;
  display: none;
}

.navbar__logo--img {
  height: 30px;
  cursor: pointer;
}

.navbar__links--list li a {
  transition: all 0.3 ease 0s;
}

.navbar__links--list li a:hover {
  color: #ccf7c1;
}

.navbar__links--list a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY TABLET ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 768px) {
  .navbar__button--hamburger {
    display: block;
  }
  .navbar__button {
    display: none;
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY MOBILE ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 576px) {
  .navbar {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar__links {
    display: none;
  }
}
