/*---------------------- NAVIGATION BAR -----------------------------*/

/* Se genera el layout general del Navbar */
.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  padding: 30px 10px;
  margin-left: 30px;
  margin-right: 30px;
  &__logo {
    justify-self: left;
  }
  &__links--list {
    padding: 0;
    justify-self: center;
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    li {
      margin: 10px;
      list-style-type: none;
    }
  
    li a {
      transition: all 0.3 ease 0s;
    }
    li a:hover {
      color: #ccf7c1;
    }
    a {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #edf0f1;
      text-decoration: none;
    }
  }
  &__button {
    justify-self: right;
    display: block;
    min-width: 280px;
    &--hamburger {
      justify-self: right;
      display: none;
    }
  }
  &__logo{
    &--img {
      height: 30px;
      cursor: pointer;
    }
  }
}


/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY TABLET ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 768px) {
  .navbar__button {
    display: none;
    &--hamburger {
      display: block;
    }
  }
}

/* ------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERY MOBILE ------------------------ */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 576px) {
  .navbar {
    grid-template-columns: repeat(2, 1fr);
    &__links {
      display: none;
    }
  }
}
